[Desktop Entry]
Name=DawnChat
Comment=Open source, user-first chat platform
Exec=dawnchat-desktop
Terminal=false
Type=Application
Icon=com.dawnchat.DawnChatDesktop
Categories=Network;InstantMessaging
StartupWMClass=dawnchat-desktop
X-Desktop-File-Install-Version=0.26
X-Flatpak=com.dawnchat.DawnChatDesktop
